.media
  .media-left
    %img.media-object
    = link_to image_tag(comment.user.avatar,style: "width: 64px; height: 64px;", alt: "64x64"), user_path(comment.user)
  .media-body
    %h4#top-aligned-media.media-heading
      = comment.user.name
    %p
      = comment.comment